{% extends "airflow/master.html" %} {% block title %}Airflow - REST
API{% endblock %} {% block head_css %} {{ super() }} {% endblock %} {%
block body %}

<style>
.loading {
	position: fixed;
	z-index: 999;
	height: 2em;
	width: 2em;
	overflow: visible;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

/* Transparent Overlay */
.loading:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not (:required ) {
	/* hide "loading..." text */
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.loading:not (:required ):after {
	content: '';
	display: block;
	font-size: 10px;
	width: 1em;
	height: 1em;
	margin-top: -0.5em;
	-webkit-animation: spinner 1500ms infinite linear;
	-moz-animation: spinner 1500ms infinite linear;
	-ms-animation: spinner 1500ms infinite linear;
	-o-animation: spinner 1500ms infinite linear;
	animation: spinner 1500ms infinite linear;
	border-radius: 0.5em;
	-webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75)
		1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75)
		-1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5)
		-1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0,
		rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
	box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em
		1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em
		1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75)
		-1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0,
		rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */
@
-webkit-keyframes spinner { 0% {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}

100%
{
-webkit-transform
:
 
rotate
(360deg);

	    
-moz-transform
:
 
rotate
(360deg);

	    
-ms-transform
:
 
rotate
(360deg);

	    
-o-transform
:
 
rotate
(360deg);

	    
transform
:
 
rotate
(360deg);

	  
}
}
@
-moz-keyframes spinner { 0% {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}

100%
{
-webkit-transform
:
 
rotate
(360deg);

	    
-moz-transform
:
 
rotate
(360deg);

	    
-ms-transform
:
 
rotate
(360deg);

	    
-o-transform
:
 
rotate
(360deg);

	    
transform
:
 
rotate
(360deg);

	  
}
}
@
-o-keyframes spinner { 0% {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}

100%
{
-webkit-transform
:
 
rotate
(360deg);

	    
-moz-transform
:
 
rotate
(360deg);

	    
-ms-transform
:
 
rotate
(360deg);

	    
-o-transform
:
 
rotate
(360deg);

	    
transform
:
 
rotate
(360deg);

	  
}
}
@
keyframes spinner { 0% {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}
100%
{
-webkit-transform
:
 
rotate
(360deg);

	    
-moz-transform
:
 
rotate
(360deg);

	    
-ms-transform
:
 
rotate
(360deg);

	    
-o-transform
:
 
rotate
(360deg);

	    
transform
:
 
rotate
(360deg);

	  
}
}
</style>
<style type="text/css">
#dags-table table {
	border-collapse: collapse;
}

#dags-table td+td, #dags-table th+th {
	border-left: 1px solid;
}

#dags-table tr+tr {
	border-top: 1px solid;
}

#dags-table th, #dags-table td {
	padding: 4px;
}
</style>

<style>
.chosen-container {
	width: 400px !important
}
/* The container */
.check {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.check input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
}

/* On mouse-over, add a grey background color */
.check:hover input ~ .checkmark {
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check input:checked ~ .checkmark {
	background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.check input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.check .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
</style>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.min.css">
<!-- <script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script> -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>



<script>
	jQuery(document).ready(function() {
		$('#fileImport').change(function() {
			if (this.checked) {
				$("#inputConfiguration").hide();
				$("#importFileConfiguration").show();
			} else {
				$("#inputConfiguration").show();
				$("#importFileConfiguration").hide();
			}
		});

	});
	 
	 function download(filename, text) {
		    var element = document.createElement('a');
		    element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
		    element.setAttribute('download', filename);

		    element.style.display = 'none';
		    document.body.appendChild(element);

		    element.click();

		    document.body.removeChild(element);
		}
	 
	 function downloadDAGConfiguration(){
		
		 var selectedDag = $("#selectedDag").val().toString();
		 $.ajax({
				url : "/admin/etv_api/api/v1.0/search_conf?dag_id="+selectedDag,
				type : "get",
				dataType : 'json',
				success : function(res) {
					var downloadData=""
					res.output.forEach(function(line){
						
						downloadData=  downloadData+line+"=\r\n"
					})
					download(selectedDag+"_conf",downloadData)
				}
			})
	 }

	function deployDAG() {
		var formData = new FormData();
		var file = $('#dag_file').prop('files')[0];
		formData.append("dag_file", file);

		$.ajax({
			url : "/admin/etv_api/api/v1.0/deploy_dag",
			type : "POST",
			data : formData,
			processData : false,
			contentType : false,
			success : function(res) {
				
				$("#dagDeployResponseMsg").text(res.output)
			}
		})
	}

	function readDAGConfiguration() {
		//$(".close").click("hide");
		$("#dagConfigurationModel").modal('hide');
		$("#loader").show();
		var conf = {}
		var isChecked = $('#fileImport').is(":checked")
		if (isChecked) { 
			var file = $('#dagConfiguration').prop('files')[0];
			var reader = new FileReader();
			reader.readAsText(file);
			reader.onload = function(e) {
				// browser completed reading file - display it
				//alert(e.target.result);
				var result = e.target.result;
				var lines = result.split("\n")
				
				lines.forEach(function(value) {
					var res = value.split("=")
					conf[res[0]] = res[1];
				});
				triggerDAG(conf)
			};
		 }else{
			 triggerDAG(conf)
		 }
	}

	function triggerDAG(configuration) {
		
		var selectedDag = $("#selectedDag").val().toString();
		/* var suffixPath = $("#suffixPath").val().toString();*/
		var weekId = $("#weekId").val().toString();
		var isChecked = $('#fileImport').is(":checked") 
		 var conf = {
			week_id : weekId
		} 
		 if (isChecked) { 
			conf = configuration
			console.log(conf)
		 } 
		var endPoint = "/api/experimental/dags/" + selectedDag + "/dag_runs";
		$.ajax({
			url : endPoint,
			type : "post",
			dataType : 'json',
			data : JSON.stringify({
				"conf" : JSON.stringify(conf)
			}),
			headers : {
				"content-type" : "application/json"
			},
			success : function(result) {
				$("#loader").hide();
				 window.location.href = '/admin/dagrun/?flt1_dag_id_equals='
						+ selectedDag + '&flt2_state_equals=running' 
			}
		});

	}

	function showModal() {
		$("#weekId").val('');
		$("#dagConfiguration").val('');
		$( "#fileImport" ).prop( "checked", false );
		$("#inputConfiguration").show();
		$("#importFileConfiguration").hide();
		$("#dagConfigurationModel").modal('show')

	}
</script>

<!-- Modal -->
<div class="modal fade" id="dagConfigurationModel" tabindex="-1"
	role="dialog" aria-labelledby="dagConfigurationModelLabel"
	aria-hidden="true">

	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="dagConfigurationModelLabel">Dag
					Configuration</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div>
				<input type="checkbox" id="fileImport"/>
					Upload Configuration file
				</div>
				<div style="padding: 10px" id="inputConfiguration">
						Week ID <input id="weekId" class="form-control"
							style="width: 200px;" placeholder="Week ID" />
				</div>
				<div style="display:none" id="importFileConfiguration">
					<div class="">
						<a class="btn btn-link pull-right" onClick="downloadDAGConfiguration()">Click to download Configuration file</a>
					</div>
					
					<div id="">
						Upload file configuration  <input type="file" id="dagConfiguration" />
					</div> 
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary pull-left"
					data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary"
					onClick="readDAGConfiguration()">Submit</button>
			</div>
		</div>
	</div>
</div>
<div class="loading" id="loader" style="display: none;">Loading&#8230;</div>
<center>
	<h3>ETV Job Scheduler</h3>
</center>
<!-- <center> List of API's which will support</center> -->
<!-- <h2>APIs</h2> -->
<div class="panel-group"
	style="width: 80%; margin-left: 10%; margin-right: 10%" id="group">

	<div class="panel panel-default">
		<div class="panel-heading">
			<a data-toggle="collapse" href="#collapse14">Execute DAG</a>
		</div>
		<div id="collapse14" class="collapse in">
			<div class="panel-body" style="padding: 10px">
				<div>
					<center>
						<div id="msg" style="color: green; padding: 10px;"></div>
					</center>
					<table>
						<tr>
							<td><select class="livesearch" id="selectedDag"
								style="width: 400px;">
									<option>Select Dag</option> {% for dag in dags %} {% if
									dag.is_active and 'etv' in dag.dag_id %}
									<option>{{dag.dag_id}}</option> {% endif %} {% endfor %}
									<option>temp</option>
							</select></td>
							<td><input type="button" class="btn btn-primary"
								value="Execute DAG" id="triggerDAG" style="margin: 15px"
								onClick="showModal()" /></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<a data-toggle="collapse" href="#collapse16"> Deploy DAG</a>
		</div>
		<div id="collapse16" class="collapse in">
			<center>
				<div id="dagDeployResponseMsg" style="color: green; margin: 5px;">
				</div>
			</center>
			<div style="margin: 25px;">
				<table>
					<tr>
						<td style="margin: 10px;"><input type="file" id="dag_file"
							name="dag_file" /></td>
						<td style="margin: 10px;"><input type="button"
							class="btn btn-primary" value="Deploy DAG" onClick="deployDAG()" />
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	
</div>
<script type="text/javascript">
	$(".livesearch").chosen({
		search_contains: true
	});
</script>
<br />

{% endblock %} {% block tail %} {{ super() }} {% endblock %}
